[run]
omit =
    # omit anything in a .local directory anywhere
    tests/
    # omit everything in /usr
    pele_platform/Analysis/to_mae.py
    # omit this single file
    pele_platform/constants/*
    pele_platform/Frag/generative_model.py 

