include pele_platform/Templates/*
include pele_platform/Utilities/PlopRotTemp/param/*
include pele_platform/AdaptivePELE/atomset/*
include pele_platform/AdaptivePELE/freeEnergies/*
recursive-include pele_platform/Utilities/PPP/Data/ *
recursive-include pele_platform/Examples/ *
recursive-include tests/data *
include versioneer.py
include pele_platform/_version.py
